body{
    background-color: white;
   
}
.logo{
   float: left;
}
.topnav{
    top: 2;
    background-color:  #ffcce6;
    overflow: hidden;
    float: center;
    opacity: 90%;
    box-shadow: rgb(255, 204, 204);

}
.topnav a{
    margin left: 10px;
    float: left;
    color: black;
    text-align: center;
    padding: 15px 17px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.topnav a:hover{
    transform: scale(1.3);
    color: black;

}
.topnav a.active{

    color: black;
}
#nav{
    background-color:   #ffcce6;
}
#header{
    color: black;
    font-family: Kristen ITC;
}
.nav-text{
   text-decoration: none;
   color: black;

}

.member{
    flex-basis: 11%;
    background: #ff8080;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box
    transition: 0.6s;
    box-shadow: 4px 5px 4px 5px grey;
    color: #ff8080;
}

#members-box{
    justify-content: space-between;
    column-count: 4;
    column-gap: 40px;
    padding: 50px 60px;
 	

}
.member:hover{
    background-color: lightblue;
    color: black;
    transition-duration: 0.5s;
}

#footer{
    items-align: bottom;
    justify-content: center;
    column-count: 1;
    display: flex;
    padding: 5px;
    background-color: black;
    border-radius: 3px;
    box-shadow: 4px 5px 4px 5px black;
    color: white
}
