/*Footer starts here*/
.site-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

/*Footer text is here*/
p.paragraph_footer{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 70%;
    font-weight: bold;
}
/*Footer's logo*/
img.footer-logo {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
}

/*Footer ends here*/