*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   outline: none;
   color: #fff;
}
#feedback{
   display: flex;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
}
.container{
   width: 360px;
   background: #000;
   box-shadow: 0 0 8px rgba(250,250,250,0.6);
   opacity:0.6;
}
form button{
   color: black;
}
.logo{
   float: left;
}
.topnav{
    background-color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
   
    
}
.active{
    text-decoration: underlined;
    color: black;
    font-size: 21px;
}
#header{
    color: black;
}
.nav-text{
   text-decoration: none;
   color: black;

}
