*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

body{
    background-image: url("./s_image/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;   
    background-color: #593E9B;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center; 

}

.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    width: 100px;
    height: 10vh;
    display: flex;
    align-items: center;

}

.logo{
    width: 300px;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #DAB1DF;
}

ul.navbar{
    display: flex;
    list-style:none;    

}

ul.navbar li{
    width: 100%;

}

ul.navbar li a{
    text-decoration: none;
    color: #8357B9;
    margin-left: 25px;
    padding: 25.5px 40px;
    text-align: center; 
    background-color: #DAB1DF;
    grid-template-columns: 1fr auto;    
    justify-content: space-around;
    font-size: large;
}

ul.navbar li a.active{
    color: #404B69;
    font-style: italic;
}

ul.navbar li a:hover{
    background: #F88D85;
    transition: .3s;
    text-transform: uppercase;
    color:#593E9B;
}
/*Header ends here*/

h1{
    text-align: center;
    margin-top: 50px;
    color: #593E9B;
}

.member{
    flex-basis: 11%;
    background: #ff8080;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
    box-shadow: 4px 5px 4px 5px grey;
    color: #ff8080;
}

#members-box{
    justify-content: space-between;
    column-count: 4;
    column-gap: 40px;
    padding: 50px 60px;
 	

}
.member:hover{
    background-color: lightblue;
    color: black;
    transition-duration: 0.5s;
}

/*Footer starts here*/
.site-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

/*Footer text is here*/
p.paragraph_footer{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 70%;
    font-weight: bold;
}
/*Footer's logo*/
img.footer-logo {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
}

/*Footer ends here*/

/*Responsive starts here*/

@media (min-width: 600px) {
    footer{
    font-size : 10px;
    }
    body{
    font-size : 12px;
    }
    }
    
@media (min-width: 1200px) {
    footer{
    font-size : 12px;
    }
    body{
    font-size : 14px;
    }
    }
    
@media (min-width: 1600px) {
    
    footer{
    font-size : 18px;
    }
    body{
    font-size : 20px;
    }
    }

/*Responsive ends here*/